*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
    font-size:14px;
}
.tiki-header{
    text-align: center;
    background-color: rgb(26, 148, 255);
    margin-bottom: 0px;
}
.tiki-content{
    text-align: center;
    background-color: whitesmoke;
}
.tiki-content .tiki-content-top{
    background-color: white;
    height: 46px;
    padding: 16px;
    margin-bottom: 15px;
    
}
.tiki-content .tiki-content-top a{
    margin:auto;
    width:1240px;
    text-decoration: none;
    border: white;
    padding: 14px;
}
.tiki-content .tiki-main{
    margin:auto;
    width:1240px;
}
.tiki-content-img-left a{
    float: left;
}
.tiki-content-img-right a{
    float: right;
}
.tiki-content-mid-one-top{
    float: left;
    padding: 22px;
    background-color: white;
    width: 100%;
    margin: 15px 0 1px;
}
.tiki-content-mid-one-product{
    float: left;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}
.tiki-content-mid-one-product img{
    width: 202px;
    padding: 14px;
}
.tiki-content-mid-two-product{
    width:100%;
}
.tiki-content-mid-two-product .left{
    float: left;
}
.tiki-content-mid-two-product .right{
    float: right;
}
.tiki-content-mid-three-product{
    margin-top: 15px;
    height: 140px;
    background-color: white;
    width:100%;
}
.tiki-content-mid-three-product .container{
    padding: 16px 0 0 0;
}
.tiki-content-mid-three-product .lefta{
    float: left;
    margin-left: 28px;
}
.tiki-content-mid-three-product .righta{
    float: right;
    margin-right: 72px;
}
.tiki-content-mid-three-product .leftb{ 
    float: left;
    margin-left: 72px;
}
.tiki-content-mid-three-product.rightb{ 
    float: right;
    margin-right: 28px;
}
.tiki-content-mid-three-product .leftc{
    float: left;
    margin-left: 42px;
}
.tiki-content-mid-three-product .rightc{
    float: right;
    margin-right: 57px;
}
.tiki-content-mid-three-product .leftd{ 
    float: left;
    margin-left: 57px;
}
.tiki-content-mid-three-product.rightd{ 
    float: right;
    margin-right: 42px;
}



















/* .tiki-content-mid-1-product img[class='icon-next']{
    width: 80px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    z-index: 1;
} */