*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
    font-size:14px;
}
.tiki-header{
    text-align: center;
    background-color: rgb(26, 148, 255);
    margin-bottom: 0px;
}
.tiki-content{
    text-align: center;
}
.tiki-content .tiki-content-top{
    background-color: pink;
    height: 46px;
    padding: 16px;
    margin-bottom: 15px;
    margin-top: 0px
}
.tiki-content .tiki-content-top a{
    margin:auto;
    width:1240px;
    text-decoration: none;
    border: pink;
    padding: 14px;
}
.tiki-content .tiki-main{
    margin:auto;
    width:1240px;
}
.tiki-content-img-left a{
    float: left;
}
.tiki-content-img-right a{
    float: right;
}
.tiki-content-mid-1-top{
    float: left;
    padding: 22px;
    background-color: pink;
    width: 1240px;
    margin: 15px 0 1px;
}
.tiki-content-mid-1-product{
    float: left;
    width:1240px;
    background-color: pink;
    margin-bottom: 15px;
}
.tiki-content-mid-1-product img{
    width: 202px;
    padding: 14px;
}
.tiki-content-mid-2-product{
    width:1240px;
}
.tiki-content-mid-2-product .left{
    float: left;
}
.tiki-content-mid-2-product .right{
    float: right;
}
.tiki-content-mid-3-product{
    margin-top: 15px;
    height: 140px;
    background-color: pink;
    width:1240px;
}
.tiki-content-mid-3-product .col-sm-3{
    
    
}
.tiki-content-mid-3-product .left{
    float: left;
    background-color: black;
}
.tiki-content-mid-3-product .right{ 
    float: right;
    background-color: red;
}




















/* .tiki-content-mid-1-product img[class='icon-next']{
    width: 80px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    z-index: 1;
} */